<h1><%= @teacher.name + " " + @teacher.family.name %>  
  Home Teaching Assignments</h1>

<table>
  <tr>
    <td bgcolor="#00ff00">This Month</td>
    <td bgcolor="cyan">Last Month</td>
    <td bgcolor="yellow">Two Months Ago</td>
  </tr>
</table>
<br>
<table class = 'sorttable resizable'>
  <thead>
    <tr align="left">
      <th>Name**</th>
      <th>Status**</th>
      <th padding='10px'>Last&nbsp;Visit**</th>
      <th class='sortable_nosort'>Comment</th>
    </tr>
  </thead>
  <tbody>

    <%
      @htFamilies.each do |family|
        lastVisit = getLastHomeTeacherVisit(family)
    %>
    <%= render(:partial => 'family_row', :locals => { :family => family, :lastVisit => lastVisit}) %>
  <% end %>
    <%
      @vtPeople.each do |person|
        lastVisit = getLastVisitingTeachingEvent(person)
    %>
    <%= render(:partial => 'family_row', :locals => { :family => person.family, :lastVisit => lastVisit}) %>
  <% end %>
</tbody>
</table>

<br />
<br />
<br />
