<h2>Frequently Asked Questions</h2>
<h4>Why is my email address rejected when I try to register?</h4>
<p>In order to make sure only ward members can use the Ward Area Book, we require that you register using your email address from the ward directory. Please contact the ward clerk if you need help updating your email address.</p>
<h4>Why can't I login?</h4>
<p>You may be attempting to login using your username and password for lds.org. This Ward Area Book uses a separate set of credentials. You will need to use your email address and a password you create for this site.</p>
<h4>Why haven't I received my account activation email yet?</h4>
<p>If you have registered for an account and saw a message telling you to wait for a confirmation email, but no such confirmation email arrives, there may be a legitimate problem. In this case, please contact Luke Hogan or Aaron Boushley for assistance.</p>
