<h2>Frequently Asked Questions</h2>
<h4>Why is my email address rejected when I try to register?</h4>
<p>In order to make sure only legitimate ward members can use the Ward Area Book, we require that you register using the email address from your lds.org profile. In some cases, we may not have been able to identify such an email address. For example, if you do not have an email address associated with your lds.org profile, or if that email address is private, we won't be able to find it. Please contact the ward clerk if you need help updating your lds.org email address.</p>
<h4>Why can't I login?</h4>
<p>You may be attempting to login using your lds.org username and password. While your Ward Area Book account is related to your lds.org profile (e.g., your physical and email addresses come from lds.org), the logins are separate. You will need to use your email address and a password you create for this site.</p>
<h4>Why I haven't received my account activation email yet?</h4>
<p>If you have registered for an account and saw a message telling you to wait for a confirmation email, check your lds.org email address. If no such confirmation email arrives, there may be a legitimate problem. In this case, please contact Luke Hogan or Aaron Boushley for assistance.</p>
