<h1>Listing families </h1>
  <div style = "font:85% sans-serif;" >
    <form>
      Quick Search &mdash;
      <input name="quickSearch" onkeyup="filterTable(this, 'filterable', 0,3)" type="text">
    </form>
  </div>
  <br>
  <%= render :partial => "families/list_families", :object => @families %>
