<h1>Investigating families</h1>

<p>
  <%= link_to 'Create a new family', new_family_path %>
</p>

<div id = 'investigating-families'>
  <%= render(:partial => 'list_families', :object => @families, 
             :locals => {:nonMember => true}) %> 
</div>

<br /> <br /> <br />
<div id='archived-families'>
  <%= link_to "Dropped Families", :url => {:controller => "families",  :action => 'listArchived'}, :remote => true %>
</div>
