<h1>Investigating families</h1>

<p>
  <%= link_to 'Create a new family', new_family_path %>
</p>

<div id = 'investigating-families'>
  <%= render(:partial => 'list_families', :object => @families) %> 
</div>

<br /> <br /> <br />
<div id='archived-families'>
  <%= link_to_remote "Dropped Families", :url => {:controller => "families",  :action => 'listArchived'} %>
</div>
