<p>
  <b>Name:</b>
  <%=h @user.person.name %>
</p>

<p>
  <b>Access Level:</b>
  <%=h @user.person.access_level %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
