<h1> Hello <%= session[:user_name] %></h1>

<h3>Assigned Action Items:</h3>

<div id='open-actions'>
  <% if @openActionItems.size > 0 %>
    <%= render(:partial => 'action_items/action_items', 
               :object => @openActionItems, 
               :locals => {:checkbox => true,
                 :ward_representative => false,
                 :family => true,
                 :form_action => "save_personal_action",
                 :editable => true} ) %>
  <% end %>
</div>
<hr>
<br>
<div id='closed-actions'>
  <% if @closedActionItems.size > 0 %>
    <%= render(:partial => 'action_items/action_items', 
               :object => @closedActionItems[0..@limit-1], 
               :locals => {:checkbox => true,
                 :editable => true,
                 :family => true,
                 :ward_representative => false,
                 :form_action => "save_personal_action",
                 :listLimit => @limit,
                 :option_for_more => (@closedActionItems[@limit] != nil),
                 :conditions => "person_id==#{@person.id}"}) %>

  <% end %>
</div>
<br><br><br>
