<% unless @family.events().empty? %>
  <section id="events">
    <h3>Events</h3>

    <ul>
      <% @family.events.each do |event| %>
        <li>
          <%= render(:partial => "events/event", :object => event, :locals => {:names => names}) %>
        </li>
      <% end %>
    </ul>

  </section>
<% end %>
