<div id='event-list'>
  <div>
    <ul>
      <% list_events.each do |event| %>
        <li>
          <%= render(:partial => "events/event", :object => event) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
