<h1>Upload CSV file. (obtained from MLS)</h1>

<%= form_tag visiting_teaching_update_routes_path, { :method => :post, :multipart => true } do %>
<p><label for="upload_file">Select File</label> : 
<%= file_field 'upload', 'datafile' %></p>
<%= submit_tag "Upload", {:onclick=>"$('#patients').show();return true;"} %>
    <div id="patients" style = 'display:none'>
      Be patient... this takes a minute.
    </div>
<% end %>

<%= render partial: 'shared/file_instructions', locals: {is_home_teaching: false} %>
