<% option_for_more ||= false %>
<% conditions ||= nil %>

<% checkbox ||= false %>
<% form_action ||= false %>
<% ward_representative ||= false %>
<% family   ||=false %>
<% noLinks  ||=false %>
<% editable ||=false %>
<% showRequestor ||=false %>
<% style ||="id='nodot'" %>

<% #TODO I need to define some globals %>
<% listLimit ||= 5 %>

<% action_items.each do |action| %>
  <li <%=style%>>
    <%= render(:partial => 'action_items/action_item', :object => action,
               :locals => {:checkbox => checkbox,
                           :form_action => form_action,
                           :showRequestor => showRequestor,
                           :ward_representative => ward_representative,
                           :family => family,
                           :noLinks => noLinks,
                           :editable => editable}) %>
  </li>
<% end %>
<% if option_for_more %>
  <li id='nodot'>
    <%= link_to_remote "more action items...", 
                        :url => {:controller => 'action_items',
                                 :action => 'list_closed_action_items',
                                 :conditions => conditions} %>
    <br>
  </li>
<% end %>
