<% unless @family.action_items().empty? %>
  <li> 
    <a href='#' class='subtile-links' onclick="Effect.toggle('family-action-items', 'blind'); 
      return false;">Action Items</a>
    <div id="family-action-items">
      <div>
        <ul>
          <div id='open-actions'>
            <%= render(:partial => 'action_items/action_items', 
                       :object => @family.open_action_items, 
                       :locals => {:checkbox => true,
                                   :ward_representative => true,
                                   :editable => true} ) %>
          </div>
          <br>
          <div id='closed-actions'>
            <%= render(:partial => 'action_items/action_items', 
                       :object => @family.closed_action_items[0..@limit-1], 
                       :locals => {:checkbox => true,
                                   :ward_representative => true,
                                   :editable => true,
                                   :listLimit => @limit,
                                   :option_for_more => (@family.closed_action_items[@limit] != nil),
                                   :conditions => "family_id==#{@family.id}"}) %>
          </div>
        </ul>
      </div>
    </div>
  </li>
<% end %>
