<% visits = flubber.group_by { |event| event.family_id} %> 
<% visits.each do |family_id, events| %>
  <% family = Family.find(family_id) %>
  <%= family.name %>,&nbsp;<%= family.head_of_house_hold %></a>
<ul>
  <%= render(:partial => "hope_event", :collection => events) %>
</ul>
<br>
<% end %>
