<% visits = monthlyReport.group_by { |event| event.family_id} %> 
<% hp,elders,unAssigned = categorizeVisits(visits) %>

<div class='report'>
<table>
    <tr>
      <td>
        <h1>High Priest Families</h1>
        <%= render(:partial => "monthlyDetails", :object => hp) %>
      </td>
      <td>
        <h1>Elder Familes</h1>
        <%= render(:partial => "monthlyDetails", :object => elders) %>
      </td>
      <td>
        <h1>Unassigned Families</h1>
        <%= render(:partial => "monthlyDetails", :object => unAssigned) %>
      </td>
    </tr>
</table>
</div>
